header{
    background-color: white;
    padding-top: 20px;
}
.navbar{
    background-color: white;
    .navbar-brand{
        color: black;
        font-weight: bold;
}

    .nav-item{
        padding-left: 30px;
    }  
    .but{
        color: #111111;
        border-radius: 0px;
        padding-left: 60px;
        font-size: 18px;
        font-weight:bold;
    }
        button{
            border: 2px solid #D1D1D1;
                padding: 5px 20px; 
                 background-color: #ffffff
        }
}
.hiro-section{
   
    margin-top: 70px;
    margin-bottom: 30px;
   
    .hiro{
    margin-top: 60px;
    h1{
        font-weight: bold;
    }
}   
}
.WHY-CRM{
    background-color: #F3F4F7;
   padding: 60px;
    .headline{
        text-align: center;
        p{
            color: #0058FF;
        }
        h1{
            font-size: 15px;
            font-weight: bold;
        }
    }
h2{
    color: #0058FF;
}
.img1{
    margin-top:100px;
    padding: 65px 20px;
    background-color: #111111;
}
.img2{
    margin-top: 50px;
    padding: 50px 20px;
    background-color: #FFFFFF;
}
.img3{
    margin-top:100px;
    padding: 39px 20px;
    background-color: #FFFFFF;
}
.img4{
    margin-top: 50px;
    padding: 18px 20px;
    background-color: #FFFFFF;
}


.img1 p{
    color: #FFFFFF;
}
.itmes p{
    font-size: 10px;
}
}
.About-us{
    background-color: #0058FF;
    padding-top: 50px;
    h1{
        font-weight: bold;
        color: #ffffff;
        font-size: 30px;
    }
p{
    font-size: 15px;
    color: #ffffff;
}
button{
    margin-top: 20px;
}
}


.future{
    margin-top: 40px;
    margin-bottom: 0px;
    h6{
       color: #0058FF;
       font-size: 13px;
   }
   h2{
     font-weight: bold;
     font-size: 20px; 
    margin-bottom: 40px;
   }
   button{
       display:flex;
   }
   p{
       font-size: 12px;
   } 
   .analysis{ 
    border: 2px solid white;
    padding: 22px 1px 26px;
    border-radius: 57px;
    width: 103px;
    font-size: 10px;
    background-color: #0058FF;
    margin-bottom: 20px; 
 }
 .scheduling{
    border: 2px solid white;
    padding: 22px 1px 34px;
    border-radius: 57px;
    width: 99px;
    font-size: 11px;
    margin-bottom: 20px;
 }
 .checklists{
    border: 2px solid white;
    padding: 22px 1px 34px;
    border-radius: 57px;
    width: 99px;
    font-size: 10px;
 }  
 .jessica-brettell{
     padding-top: 100px;
     margin-right:50px;
 }
   }
   .support{
background-color: #F3F4F7;
padding: 60px;
   h6{
       color: #0058FF;
font-size: 12px;
   }

   h2{
color: #111111;
   }
   .Toledano{
margin-top: 40px;
padding: 20px 40px 40px 40px;
background-color: #111111;
h2{
color: #0058FF;
}
p{
    color: #FFFFFF;
    font-size: 15px;
}
   }
 .Movement{
margin-top: 40px;
padding: 20px 40px 7px 40px;
background-color: #FFFFFF;
h2{
    color: #0058FF;
}
p{
    font-size: 14px;
}
 }
 img{
     padding-top: 20px;
 }
}
 .position-img{
     h2{
         text-align: center;
         padding: 50px;
 }
   
    .Solutions{
        background-color: #F3F4F7;
        padding: 60px;
   
    h3{
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    span{
        font-weight: bold;
        font-size: 45px;
        font-family: fantasy;
    }
    
    h2{
        color: #0058FF;
        margin-right: 10px;
        padding-left: 30px;

    } 
}
    .buying{
        background-color: #FFFFFF;
    }
    .contact{
        background-color: #111111;
        p{
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            color: #FFFFFF;
            font-size: 30px;
            font-weight: bold;
        }  
    }
    ul{
        padding-left: 0rem;
            li{
                display:inline;
            }
        }
       .log-in{
       padding-top: 50px;
       h2{
           font-weight: bold;
           font-size: 35px;
       }
       .icons{
           padding-top: 5px;
           padding-right: 0px;
       }
   } 
   .Copyrights{
       padding-top: 70px;
       padding-bottom: 50p;
       ul{
           li{
               display: inline;
               padding-right: 150px;
               text-align: start;
           }
       }
   }
   
 }


     